
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  Digital Registration Services index
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Introduction<span class="govuk-visually-hidden"> to Digital Registration Services</span></h1>

    <p class="govuk-body-l">Apply to update or create a registered title</p>
 
		<p>A user-centred digital registration service that captures the right data to reduce requisitions and enable automation.</p>

		<h2 class="govuk-heading-m">The problem</h2>

		<p>Conveyancers applying to change the register generate a lot of requisitions, especially when using the AP1 form, which is needed for many transactions.</p>
 
		<p>It’s a complex, multi-purpose form wrapped in legalese guidance that’s not always understood by users. </p>
 
		<p>Our users are often clerical staff at conveyancers, some of whom have learned to complete the form by rote. It’s easy to make mistakes of accuracy or omission, and most lead to requisitions.</p>
		 
		<p>This project took replacing the paper AP1 with a digital system as a starting point.</p> 		
		<p class="govuk-body">Aims of the service:</p>
		<ul class="govuk-list govuk-list--bullet">
		  <li>make it easier for users to provide exactly (and only) the data needed</li>
		  <li>reduce requisitions caused by inaccurate data or missing documents</li>
		  <li>save HMLR time and expense in handling paper forms, and issuing and handling requisitions</li>
		  <li>save customers time and expense in completing forms and managing requisitions</li>
		  <li>make it easier for customers to manage their applications</li>
		  <li>ongoing, clean the data in applications and on the register</li>
		</ul>
	
		
		<p class="govuk-body">Methods to achieve this:</p>
		<ul class="govuk-list govuk-list--bullet">
		  <li>digitised data capture</li>
		  <li>validated formats and data where possible</li>
		  <li>prompts and guidance around common requisition points</li>
		  <li>save and resume applications</li>
		  <li>enabling automation where possible</li>
		  <li>enabling integration of compatible applications where possible</li>
		</ul>
		 
		 
		<h2 class="govuk-heading-m">Project so far</h2>
		 
		<p>As an MVP, we designed an end-to-end application for Noting a lease, one of the shortest, simplest routes to changing the register. This was released as a private beta to selected early adopters.</p>
		 
		<p>We are now (Sept 2019) working on completing a user journey for making a transfer. This entails adding representation for each party and addresses for service.</p>
		 
		<p>The links guide you to various iterations of the prototype.</p>

    
  </div>

  <!----------   grid-row-one-third   --------->

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Further reading</h2>
    <ul class="govuk-list govuk-body-s">
      <li><a href="design">list of design assets</a></li>
      <li>useful page</li>
      <li>useful doc on google drive</li>
    </ul>
  </div>
</div>



<!-- <div class="govuk-grid-row">
  <div class="govuk-section-break--xl">
    <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
      <img src="../../public/images/service-history.png" alt="Service History icon" height="56">
      <div class="govuk-section-break--m"></div>
      <h2 class="govuk-heading-m">Service History</h2>
      <p>
          A history showing all the previous prototype versions highlighting what has changed and why, linking in to
          the user research that triggered the changes.
      </p>
    </div>

    <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
      <img src="../../public/images/timeline.png" alt="Timeline icon" height="56">
      <div class="govuk-section-break--m"></div>
      <h2 class="govuk-heading-m">Timeline</h2>
      <p>
          What stage is the project in, how long will it be there, and when is the plan to move into the next stage.
      </p>
    </div>

    <div class="govuk-grid-column-one-third govuk-section-break--xl" align="center">
      <img src="../../public/images/assessments-2.png" alt="Assessments icon" height="56">
      <div class="govuk-section-break--m"></div>
      <h2 class="govuk-heading-m">Assessment</h2>
      <p>
          Have there been any assessments? Will there be an assessment, if so, when?
      </p>
      <a href="">Digital service standards</a>
    </div>
  </div>
</div> -->


{% endblock %}
